<!doctype html>

<html>
  <head>
    <title>SoundNow</title>
     <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <!-- Compiled and minified JavaScript -->

          
  </head>
  <body>
   <div class="navbar-fixed">
     <nav class="remove-color">
       <div class="nav-wrapper">
         <a href="#" class="brand-logo">
          <img class="responsive-img" src="images/SoundNow-letras-blancas.png" height="50" width="200" >
         </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="sass.html">Player</a></li>
         <li><a href="badges.html">About</a></li>
        </ul>
    </div>
     </nav>
   </div>
    
    
    <div class="upper-top screen-size layer">
      <div class="layer">
          <div class="center-align" style=" padding-top: 20vh;">
            <img  src="images/SoundNow-logo-letras-blanca.png" height="350" width="350">
          </div>
      
          <div class="center-align" style=" padding-top: 10vh;">
               <a class="waves-effect waves-light btn-large amber darken-3" >
                   <i class="material-icons right " style="font-size: 30px">queue_music</i>Player
               </a>
          </div>
      </div> 
    </div> 
   
   
  <div class="screen-2" style="padding-top: 25vh;">
      <div class="row" style=" margin:0px;">
        <div class="col m3">
          <div class="card red lighten-1 hoverable z-depth-5">
            <div class="card-content white-text">
              <span class="card-title">Reproducir una canción</span>
              <div class="center-align">  
                <i class="large material-icons">speaker</i>
              </div>
              <p>Al usar nuestro sistema distribuido sera posible reproducir una canción que este almacenada en nuestros servidores desde la aplicación web</p>
            </div>

          </div>
        </div>
        <div class="col m3 ">
          <div class="card yellow darken-3 hoverable z-depth-5" >
            <div class="card-content white-text">
              <span class="card-title">Almacenaje distribuido</span>
              <div class="center-align">  
                <i class="large material-icons">cloud_done</i>
              </div>
              <p>En nuestro sistema 
                el cliente podrá almacenar sus archivos en una red distribuida de servidores, 
                para que su manipulación sea altamente eficiente</p>
            </div>

          </div>
        </div>
        <div class="col m3 ">
          <div class="card green accent-4 hoverable z-depth-5">
            <div class="card-content white-text">
              <div class="center-align">
                <span class="card-title">Escabilidad</span>
              </div> 
              <div class="center-align">  
                <i class="large material-icons">assessment</i>
              </div>
              <p>Al ser el sistema distribuido, le dan gran fiabilidad y disponibilidad a los archivos, organizar e incrementar su capacidad de procesamiento es realizado fácilmente</p>
            </div>

          </div>
        </div>
      </div>
  </div>
  
    <footer class="page-footer grey darken-4" style="margin-top: 0px;">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Grupo 1</h5>
                <p class="grey-text text-lighten-4">
                <h6 class="grey-text text-lighten-4">Laurenn Alecxandra Cruz Vargas</h6>
                <h6 class="grey-text text-lighten-4">Carlos Arturo Banegas Sevilla</h6>
                <h6 class="grey-text text-lighten-4">Edilson Fernando Gonzalez Martinez</h6>
                <h6 class="grey-text text-lighten-4">Jorge Alejandro Caballero</h6>
                </p>
              </div>
              <br>
              <br>
              <div class="col l4 offset-l2 s12">
                <img  src="images/SoundNowb.png" height="150" width="150">
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2015 Copyright Grupo 1 Redes V Periodo
            </div>
          </div>
        </footer>   
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="/javascripts/site.js"></script>
  </body>
</html>